<div class="page-header">
  <%= link_to new_beverage_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Beverage
  <% end %>
  <h1>Listing beverages</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Memo</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @beverages) do |beverage| %>
            <td><%= link_to beverage do %>
	    <%= image_tag beverage.image.thumb.url %>
            <% end %>
            </td>
            <td><%= beverage.name %></td>
            <td><%= beverage.price %></td>
            <td><%= beverage.memo %></td>
            <td><%= link_to 'Show', beverage %></td>
        <td><%= link_to 'Edit', edit_beverage_path(beverage) %></td>
        <td><%= link_to 'Destroy', beverage, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
